/.DS_Store
/.vscode
/2_RMS_convergence.pdf
/2_uncertainty_convergence.pdf
/3_RMS_convergence.pdf
/4_RMS_convergence.pdf
/4_simple_convergence.pdf
/4_uncertainty_convergence.pdf
/5_RMS_convergence.pdf
/5_simple_convergence.pdf
/5_uncertainty_convergence.pdf
/MK_LAB01_cc.d
/RMC.png
/Simple Functions Convergence.png
/Uncertainty.png
/f = 1_simple_convergence.pdf
/f = sin(x*sin(x_simple_convergence.pdf
/f = x^2_simple_convergence.pdf
/f = x^3_RMS_convergence.pdf
/f = x^3_simple_convergence.pdf
/f = x_simple_convergence.pdf
/simple_convergence.pdf